.card {
    display: inline-flex;
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Arial, Helvetica, sans-serif;
}

.card img {
    width: 150%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 16px;
}

.card .title {
    font-size: 16px;
    margin-bottom: 16px;
}

.card .button {
    background-color: #ff8c00;
    color: #fff;
    border: none;
    padding: 8px 8px 8px 8px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

.card .button:hover{
    background-color: #ff6a00;
}