.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.logo {
    margin: 0 auto;
}

.icons {
    display: flex;
}

.icons img {
    margin-left: 10px;
}