.navbar {
    display:flex;
    justify-content:center;
    align-items: center;
    background-color: #ee8dd1;
    border-radius: 10px;
    padding: 20px;
    margin: 5px;
       
}
.themeDark {
    background-color: darkblue;
    color: rgb(120, 120, 246);
}
  .themeLight {
    background-color: lavender; /* #f2f4f6; */
    color: #0d3f67;
}

.navbar.lightNavbar{
    background-color: #f2f2f2;
}

.navbar.darkNavbar{
    background-color: #333;
    color: #fff;
}

.navbar_container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 10px;
    padding: 20px;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    /* color: #333; */
    padding: 5px;
}

.navbar .thme-button img {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #333;
    padding: 5px;
}

.navbar .thme-button img{
    width: 20px;
    height: 20px;
    max-width: 5px;
}

.navbar.lightNavbar {
    background-color: #f2f2f2;

}

.navbar.darkNavbar {
    background-color: #333;
    color: #fff;
}

.list li {
    display: inline-block;
    padding-left: 3px;
    padding-right: 3px;
}

.btnTheme {
    position:absolute;
    top: 1.6em;
    right: -3em;
    cursor:pointer;
}

.btnTheme button {
    background-color: gray;
    padding: .3em
}